/vendor
/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/pail
/bootstrap/ssr
/.fleet
/.idea
/.nova
/.vscode
/.zed
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json